/*  #region utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: aliceblue;
    background-color: black;

    font-family: "Helvetica Now",
        Helvetica,
        Arial,
        sans-serif;
    ;
}

i {
    color: aliceblue;
}

.d-flex {
    display: flex;
}

img {
    max-width: 100%;

}

.container {
    width: 90%;
    margin: auto;
}

/*  #endregion utilities */

/* #region header */

header {
    padding: 0.5rem 0 2rem 0;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}

.speaker-view {
    background-color: grey;
    padding: 3px;
    margin-right: 8px;
    border-radius: 5px;
}

.speaker-view i {
    padding: 5px;
}

header i:nth-child(2) {
    background-color: grey;
    padding: 5px;
    margin-right: 8px;
    border-radius: 5px;
}

/* si puó ottimizzare volendo */

/* #endregion header */

/*  #region main */
main {
    height: calc(100vh - 50px - 80px);
    /* ------------------------------------------------------------------------------------------togliere i px del footer */
    overflow-y: scroll;
    /* questo fa apparire la barra solo qua */
}

.all-thumbs {
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.user {
    position: relative;
    justify-content: flex;
    padding: 5px;
    width: 200px;
}


.speaker {
    position: absolute;
    bottom: 5px;
    /* come il padding */
    left: 0;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.323);
}




/*  #endregion main */

/* #region */

/* #region footer */
footer {
    width: 100%;
    height: 80px;
    align-items: center;
    background-color: grey;
    justify-content: space-between;
}


.icon-footer-pad {
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.icon-footer-pad>i {
    font-size: 25px;
}

.icons-footer {
    align-items: center;
}

#share {
    color: rgb(69, 240, 69);
}

.left {
    padding: 2rem;
}

.right {
    color: red;
    padding: 2rem;
}

/* #endregion footer */