/*  #region utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: aliceblue;
    background-color: black;

    font-family: "Helvetica Now",
        Helvetica,
        Arial,
        sans-serif;
    ;
    /* non é una rubata per tolgiere la scroll laterale, si usa*/
    overflow: hidden;
}

i {
    color: aliceblue;
}

.d-flex {
    display: flex;
}

img {
    max-width: 100%;

}

.container {
    width: 90%;
    margin: auto;
}

/*  #endregion utilities */

/* #region header */

header {
    height: 50px;
    justify-content: flex-end;
    align-items: center;

}

.name-view {
    background-color: grey;
    padding: 3px;
    margin-right: 8px;
    border-radius: 5px;
}

.name-view i {
    padding: 5px;
}

header i:nth-child(2) {
    background-color: grey;
    padding: 5px;
    margin-right: 8px;
    border-radius: 5px;
}

/* si puó ottimizzare volendo */

/* #endregion header */

/*  #region main */
main {
    height: calc(100vh - 120px);
    /* ------------------------------------------------------------------------------------------ perché appare comunque la scroll*/
    overflow-y: auto;
    /* questo fa apparire la barra solo qua */
}

.partecipants {
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.user {
    position: relative;
    padding: 5px;
    width: 200px;
}


.name {
    position: absolute;
    bottom: 8px;
    left: 4px;
    padding: 8px;
    background-color: rgba(128, 128, 128, 0.323);
    border-radius: 5px;
}

/*  #endregion main */


/* #region footer */
footer {
    height: 70px;
    align-items: center;
    background-color: grey;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
}

/* colpa del footer la barra laterale */

.icon-footer-pad {
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.icon-footer-pad>i {
    font-size: 20px;
}

.icons-footer {
    align-items: center;
}

#share {
    color: rgb(69, 240, 69);
}

.left {
    padding: 2rem;
}

.right {
    color: red;
    padding: 2rem;
}

/* #endregion footer */